body {
    margin: auto;
}

.content-wrapper {
    display: flex;
    flex-wrap: wrap;
    place-content: space-evenly;
}

td {
    text-align: center;
}

table.td-left td {
    text-align: left !important;
    padding: 5px;
}

.arial {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bold {
    font-weight: bold;
}

.clear {
    clear: both;
}

@page {
    width: 53.98mm;
    height: 85.6mm;
    margin: 25px 20px;
}

.print {
    display: contents;
}

.table-wrapper {
    min-height: 54mm;
    max-height: 54mm;
    display: table;
    border: 2px solid #115011;
    position: relative;
    border-radius: 5px;
}

.signature {
    float: left;
    width: 200px;
    border-bottom: 1px solid;
}

.user {
    padding-bottom: 2em;
}

table tr td {
    width: 1%;
}

#school-name {
    font-size: 9px;
    color: #43449b;
    font-weight: 900;
    font-family: pertibd;
}

#id-title {
    font-size: 8px;
    font-weight: 900;
    color: #00501a;
    font-family: pertbd;
}

.logo {
    width: 45px;
}

.detail {
    font-size: 7px;
    font-weight: 700;
    text-align: start;
    color: #03004a;
    font-family: Helvetica, Arial, sans-serif;
    padding-left: 1em;
    text-transform: uppercase;
}

#headmaster-sign,
#student-sign {
    width: 1%;
}

#headmaster-sign {
    position: relative;
    padding-top: 1em;
}

#headmaster-sign img {
    position: absolute;
    height: 20px;
    left: 98px;
    top: -3px;
}

#student-sign {
    width: 100%;
    padding: 0 5px 0 0;
    position: relative;
}

#student-sign span {
    position: absolute;
    top: 0;
    left: -35px;
}

.text-right {
    text-align: right;
}

table#theme-one {
    border: 5px solid #40449b;
}

table#theme-two {
    border: 5px solid #444497;
}

table {
    min-height: inherit;
    height: 100%;
    max-width: 85.6mm;
    min-width: 85.6mm;
    border-radius: 10px;
}

.student {
    top: 70px;
    right: 97px;
    position: absolute;
}

img#student {
    box-shadow: -6px 10px 14px -10px #43449b70 inset;
    border-radius: 0.5em;
    min-height: 65px;
    max-height: 65px;
    z-index: 999;
    position: inherit;
    min-width: 85px;
    max-width: 85px;
}

#motto {
    font-size: 7px;
    padding: 0px;
    font-family: pristina;
    font-weight: 600;
    letter-spacing: 1;
}

#line-divider {
    margin: 1px;
}

#web-link {
    font-size: 5px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1;
}

#theme-one .detail .title {
    color: darkred;
}

#theme-two .detail .title {
    color: #00501a;
}

.w-100 {
    width: 100%;
}

.cut-indicator {
    padding: 0;
    /* outline: 1pt solid;
    outline-style: dashed; */
    margin-top: 20px;
}

img#flower-signature {
    position: absolute;
    right: 15px;
    width: 18px;
    bottom: 11px;
}

img#graduate-signature {
    position: absolute;
    right: 15px;
    width: 30px;
    bottom: 11px;
}

@font-face {
    font-family: bradhitc;
    src: url("/global_assets/fonts/bradhitc.ttf");
}

@font-face {
    font-family: pertibd;
    src: url("/global_assets/fonts/pertibd.ttf");
}

@font-face {
    font-family: pertbd;
    src: url("/global_assets/fonts/Perpetua Bold font.ttf");
}

@font-face {
    font-family: pristina;
    src: url("/global_assets/fonts/PRISTINA.TTF");
}

@font-face {
    font-family: kingstonRoman;
    src: url("/global_assets/fonts/KingstonRoman-PKxpE.otf");
}